<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/dist/output.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <!-- ! Navbar Starts -->

    <section
      class="flex justify-between items-center p-5 backdrop-blur-lg bg-transparent sticky top-0 right-0 left-0 z-50 md:p-4 lg:px-12 2xl:px-20 shadow-sm"
    >
      <div>
        <img class="w-20" src="images/logo.png" alt="Logo" />
      </div>
      <div class="hidden xl:flex justify-center space-x-6 tracking-tight">
        <a
          href="/src/index.html"
          class="hover:underline hover:underline-offset-2 hover:text-red-500 hover:border-red-500 hover:-translate-y-0.5 transition-all duration-200 ease-in-out"
        >
          Home
        </a>
        <a
          href="/src/apply.html"
          class="hover:underline hover:underline-offset-2 hover:text-red-500 hover:border-red-500 hover:-translate-y-0.5 transition-all duration-200 ease-in-out"
        >
          Apply
        </a>
        <a
          href="/src/check.html"
          class="hover:underline hover:underline-offset-2 hover:text-red-500 hover:border-red-500 hover:-translate-y-0.5 transition-all duration-200 ease-in-out"
        >
          Check information
        </a>
        <a
          href="/src/about.html"
          class="hover:underline hover:underline-offset-2 hover:text-red-500 hover:border-red-500 hover:-translate-y-0.5 transition-all duration-200 ease-in-out"
        >
          About Us
        </a>
        <a
          href="/src/government.html"
          class="hover:underline hover:underline-offset-2 hover:text-red-500 hover:border-red-500 hover:-translate-y-0.5 transition-all duration-200 ease-in-out"
        >
          Government
        </a>
        <a
          href="/src/visapassports.html"
          class="hover:underline hover:underline-offset-2 hover:text-red-500 hover:border-red-500 hover:-translate-y-0.5 transition-all duration-200 ease-in-out"
        >
          Visas and passports
        </a>
        <a
          href="/src/education.html"
          class="hover:underline hover:underline-offset-2 hover:text-red-500 hover:border-red-500 hover:-translate-y-0.5 transition-all duration-200 ease-in-out"
        >
          Education
        </a>
        <a
          href="/src/media.html"
          class="hover:underline hover:underline-offset-2 hover:text-red-500 hover:border-red-500 hover:-translate-y-0.5 transition-all duration-200 ease-in-out"
        >
          Media
        </a>
        <a
          href="/src/contact.html"
          class="hover:underline hover:underline-offset-2 hover:text-red-500 hover:border-red-500 hover:-translate-y-0.5 transition-all duration-200 ease-in-out"
        >
          Contact us
        </a>
        <a
          href="/src/investinnamibia.html"
          class="hover:underline hover:underline-offset-2 hover:text-red-500 hover:border-red-500 hover:-translate-y-0.5 transition-all duration-200 ease-in-out"
        >
          Invest in Namibia
        </a>
      </div>
      <!-- <div class="block xl:hidden">
              <FaBars class="text-xl cursor-pointer" />
            </div> -->
    </section>

    <!-- ! Navbar Ends -->

    <!-- ! Education Starts -->

    <div class="w-full flex justify-center items-center my-20">
      <div
        class="w-full px-2 sm:px-0 sm:w-5/6 md:4/6 lg:w-3/6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
      >
        <div class="h-[420px] overflow-hidden">
          <img
            class="rounded-t-lg h-full w-full object-cover"
            src="images/education.jpg"
            alt=""
          />
        </div>
        <div class="p-5">
          <h5
            class="w-full text-center mb-7 text-lg sm:text-xl md:text-2xl lg:text-3xl xl:text-4xl leading-relaxed text-blue-700 font-bold tracking-normal dark:text-white"
          >
            EDUCATION OF NAMIBIA
          </h5>
          <p
            class="mb-3 font-normal text-gray-700 dark:text-gray-400 text-sm lg:text-base leading-10 tracking-wide"
          >
            MCC’s $304.5 million Namibia Compact (2009-2014) funded the $145
            million Education Project which included the Improving the Quality
            of General Education Activity (Education Activity) and the Improving
            Access to and Management of Textbooks Activity (Textbook Activity),
            which aimed to improve the quality of the Namibian workforce by
            enhancing the equity and effectiveness of basic education. The
            Education Activity rehabilitated nearly 50 schools and funded
            training for school personnel. The Textbook Activity distributed
            textbooks to all Namibian schools and supported textbook procurement
            and management reforms.
          </p>
          <a
            class="hover:underline underline-offset-4 text-blue-600"
            href="https://www.mcc.gov/resources/doc/evalbrief-010120-nam-edu"
            target="_blank"
            >More Details</a
          >
        </div>
      </div>
    </div>

    <!-- ! Education Ends -->

    <!-- ! Footer Starts -->

    <footer class="text-gray-600 body-font bg-gray-100 mt-20">
      <div
        class="container px-5 py-12 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col"
      >
        <div
          class="w-64 flex flex-col items-center md:mx-0 mx-auto text-center md:text-left"
        >
          <img class="w-20" src="images/logo.png" alt="Logo" />
        </div>
        <div
          class="flex-grow flex flex-wrap md:pl-20 -mb-10 md:mt-0 mt-10 md:text-left text-center"
        >
          <div class="lg:w-1/4 md:w-1/2 w-full px-4">
            <h2
              class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3"
            >
              GOVERNMENT LINKS
            </h2>
            <nav class="list-none mb-10 space-y-3 text-sm">
              <li>
                <a
                  href="https://www.govpage.co.za/namibia-office-of-the-president.html"
                  target="_blank"
                  class="text-gray-600 hover:underline hover:underline-offset-2 hover:text-red-500 hover:border-red-500 hover:-translate-y-0.5 transition-all duration-200 ease-in-out cursor-pointer"
                  >Office of the president of Namibia</a
                >
              </li>
              <li>
                <a
                  href="https://www.parliament.na/"
                  target="_blank"
                  class="text-gray-600 hover:underline hover:underline-offset-2 hover:text-red-500 hover:border-red-500 hover:-translate-y-0.5 transition-all duration-200 ease-in-out cursor-pointer"
                  >The Parliament of Namibia</a
                >
              </li>
              <li>
                <a
                  href="https://mirco.gov.na/?fbclid=IwAR2nSUaDUrzhV2ghMjUheZAuRR5J4jRkO8n08BXK6TtcqJu3dYTudXl4OzI"
                  target="_blank"
                  class="text-gray-600 hover:underline hover:underline-offset-2 hover:text-red-500 hover:border-red-500 hover:-translate-y-0.5 transition-all duration-200 ease-in-out cursor-pointer"
                  >Ministry of Foreign Affairs</a
                >
              </li>
              <li>
                <a
                  href="https://judiciary.na/pages/Home/"
                  target="_blank"
                  class="text-gray-600 hover:underline hover:underline-offset-2 hover:text-red-500 hover:border-red-500 hover:-translate-y-0.5 transition-all duration-200 ease-in-out cursor-pointer"
                  >The Namibia Judiciary
                </a>
              </li>
              <li>
                <a
                  class="text-gray-600 hover:underline hover:underline-offset-2 hover:text-red-500 hover:border-red-500 hover:-translate-y-0.5 transition-all duration-200 ease-in-out cursor-pointer"
                  >Government Services
                </a>
              </li>
              <li>
                <a
                  href="https://www.gov.na/"
                  target="_blank"
                  class="text-gray-600 hover:underline hover:underline-offset-2 hover:text-red-500 hover:border-red-500 hover:-translate-y-0.5 transition-all duration-200 ease-in-out cursor-pointer"
                  >The Government of Namibia
                </a>
              </li>
            </nav>
          </div>
          <div class="lg:w-1/4 md:w-1/2 w-full px-4">
            <h2
              class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3"
            >
              GOVERNMENT AGENCIES
            </h2>
            <nav class="list-none mb-10 space-y-3 text-sm">
              <li>
                <a
                  href="https://www.meft.gov.na/"
                  target="_blank"
                  class="text-gray-600 hover:underline hover:underline-offset-2 hover:text-red-500 hover:border-red-500 hover:-translate-y-0.5 transition-all duration-200 ease-in-out cursor-pointer"
                  >Ministry of Tourism</a
                >
              </li>
              <li>
                <a
                  href="https://mol.gov.na/"
                  target="_blank"
                  class="text-gray-600 hover:underline hover:underline-offset-2 hover:text-red-500 hover:border-red-500 hover:-translate-y-0.5 transition-all duration-200 ease-in-out cursor-pointer"
                  >Ministry of trade and Industry</a
                >
              </li>
              <li>
                <a
                  href="https://oag.gov.na/ministry-of-home-affairs-and-immigration"
                  target="_blank"
                  class="text-gray-600 hover:underline hover:underline-offset-2 hover:text-red-500 hover:border-red-500 hover:-translate-y-0.5 transition-all duration-200 ease-in-out cursor-pointer"
                  >Namibia Immigration service</a
                >
              </li>
              <li>
                <a
                  href="https://mfpe.gov.na/"
                  target="_blank"
                  class="text-gray-600 hover:underline hover:underline-offset-2 hover:text-red-500 hover:border-red-500 hover:-translate-y-0.5 transition-all duration-200 ease-in-out cursor-pointer"
                  >Ministry of Finance</a
                >
              </li>
              <li>
                <a
                  href="https://nipdb.com/"
                  target="_blank"
                  class="text-gray-600 hover:underline hover:underline-offset-2 hover:text-red-500 hover:border-red-500 hover:-translate-y-0.5 transition-all duration-200 ease-in-out cursor-pointer"
                  >Namibia Investment Promotion Centre</a
                >
              </li>
              <li>
                <a
                  href="https://www.namport.com.na/"
                  target="_blank"
                  class="text-gray-600 hover:underline hover:underline-offset-2 hover:text-red-500 hover:border-red-500 hover:-translate-y-0.5 transition-all duration-200 ease-in-out cursor-pointer"
                  >Namibia Ports and Harbors Authority</a
                >
              </li>
            </nav>
          </div>
          <div class="lg:w-1/4 md:w-1/2 w-full px-4">
            <h2
              class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3"
            >
              MISSIONS AND CONSULATES
            </h2>
            <nav class="list-none mb-10 space-y-3 text-sm">
              <li>
                <a
                  class="text-gray-600 hover:underline hover:underline-offset-2 hover:text-red-500 hover:border-red-500 hover:-translate-y-0.5 transition-all duration-200 ease-in-out cursor-pointer"
                  >Namibia Consulate New York</a
                >
              </li>
              <li>
                <a
                  class="text-gray-600 hover:underline hover:underline-offset-2 hover:text-red-500 hover:border-red-500 hover:-translate-y-0.5 transition-all duration-200 ease-in-out cursor-pointer"
                  >Namibia Embassy Canada</a
                >
              </li>
              <li>
                <a
                  href="https://brasilia.mirco.gov.na/"
                  target="_blank"
                  class="text-gray-600 hover:underline hover:underline-offset-2 hover:text-red-500 hover:border-red-500 hover:-translate-y-0.5 transition-all duration-200 ease-in-out cursor-pointer"
                  >Namibia Embassy Brazil</a
                >
              </li>
              <li>
                <a
                  href="https://www.consulate-houston.com/texas/Namibia-contact-info-Houston"
                  target="_blank"
                  class="text-gray-600 hover:underline hover:underline-offset-2 hover:text-red-500 hover:border-red-500 hover:-translate-y-0.5 transition-all duration-200 ease-in-out cursor-pointer"
                  >Namibia Consulate Houston</a
                >
              </li>
              <li>
                <a
                  class="text-gray-600 hover:underline hover:underline-offset-2 hover:text-red-500 hover:border-red-500 hover:-translate-y-0.5 transition-all duration-200 ease-in-out cursor-pointer"
                  >Namibia Consulate. Arkansas</a
                >
              </li>
              <li>
                <a
                  class="text-gray-600 hover:underline hover:underline-offset-2 hover:text-red-500 hover:border-red-500 hover:-translate-y-0.5 transition-all duration-200 ease-in-out cursor-pointer"
                  >The Namibia Permanent Mission UN</a
                >
              </li>
              <li>
                <a
                  class="text-gray-600 hover:underline hover:underline-offset-2 hover:text-red-500 hover:border-red-500 hover:-translate-y-0.5 transition-all duration-200 ease-in-out cursor-pointer"
                  >Namibia Embassy for India</a
                >
              </li>
            </nav>
          </div>
          <div class="lg:w-1/4 md:w-1/2 w-full px-4">
            <h2
              class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3"
            >
              OUR LOCATION
            </h2>
            <nav class="list-none mb-10">
              <li>
                <a
                  class="text-gray-600 hover:underline hover:underline-offset-2 hover:text-red-500 hover:border-red-500 hover:-translate-y-0.5 transition-all duration-200 ease-in-out"
                  >First Link</a
                >
              </li>
              <li>
                <a
                  class="text-gray-600 hover:underline hover:underline-offset-2 hover:text-red-500 hover:border-red-500 hover:-translate-y-0.5 transition-all duration-200 ease-in-out"
                  >Second Link</a
                >
              </li>
              <li>
                <a
                  class="text-gray-600 hover:underline hover:underline-offset-2 hover:text-red-500 hover:border-red-500 hover:-translate-y-0.5 transition-all duration-200 ease-in-out"
                  >Third Link</a
                >
              </li>
              <li>
                <a
                  class="text-gray-600 hover:underline hover:underline-offset-2 hover:text-red-500 hover:border-red-500 hover:-translate-y-0.5 transition-all duration-200 ease-in-out"
                  >Fourth Link</a
                >
              </li>
            </nav>
          </div>
        </div>
      </div>
      <div class="bg-gray-100">
        <div
          class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row"
        >
          <p class="text-gray-500 text-sm text-center sm:text-left">
            © 2023 Namibia —
            <a
              href="https://twitter.com/knyttneve"
              rel="noopener noreferrer"
              class="text-gray-600 ml-1"
              target="_blank"
            >
              Visa
            </a>
          </p>
          <span
            class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start"
          >
            <a class="text-gray-500">
              <svg
                fill="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                class="w-5 h-5"
                viewBox="0 0 24 24"
              >
                <path
                  d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"
                ></path>
              </svg>
            </a>
            <a class="ml-3 text-gray-500">
              <svg
                fill="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                class="w-5 h-5"
                viewBox="0 0 24 24"
              >
                <path
                  d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"
                ></path>
              </svg>
            </a>
            <a class="ml-3 text-gray-500">
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                class="w-5 h-5"
                viewBox="0 0 24 24"
              >
                <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                <path
                  d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"
                ></path>
              </svg>
            </a>
            <a class="ml-3 text-gray-500">
              <svg
                fill="currentColor"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="0"
                class="w-5 h-5"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="none"
                  d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"
                ></path>
                <circle cx="4" cy="4" r="2" stroke="none"></circle>
              </svg>
            </a>
          </span>
        </div>
      </div>
    </footer>

    <!-- ! Footer Ends -->
  </body>
</html>
